doctype html
html(lang="en")
  head
    // NodeJS Boilerplate by Abhi Nayar (github.com/abhinayar)
    // Credit not needed. Hope this is useful to a few people.
    // If you have comments or suggestions please email anayar2[at]gmail[dot]com
    // Connect with me on LinkedIn : https://www.linkedin.com/in/abhinayar
    //
    // title
    //
    block headTitle
      title Example Application
    //
    // meta tags
    //
    block metaResponsive
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='description', content='')
      meta(name='viewport', content='width=device-width, initial-scale=1')
    //
    // icons
    //
    block metaIcons
      link(rel='shortcut icon', href='/favicon.ico')
      link(rel='apple-touch-icon-precomposed', sizes='57x57', href='/images/icons/apple-touch-icon-57.png')
      link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/images/icons/apple-touch-icon-114.png')
      link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/images/icons/apple-touch-icon-72.png')
      link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/images/icons/apple-touch-icon-144.png')
      link(rel='apple-touch-icon-precomposed', sizes='60x60', href='/images/icons/apple-touch-icon-60.png')
      link(rel='apple-touch-icon-precomposed', sizes='120x120', href='/images/icons/apple-touch-icon-120.png')
      link(rel='apple-touch-icon-precomposed', sizes='76x76', href='/images/icons/apple-touch-icon-76.png')
      link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/images/icons/apple-touch-icon-152.png')
      link(rel='icon', type='image/png', href='/images/icons/favicon-196.png', sizes='196x196')
      link(rel='icon', type='image/png', href='/images/icons/favicon-96.png', sizes='96x96')
      link(rel='icon', type='image/png', href='/images/icons/favicon-32.png', sizes='32x32')
      link(rel='icon', type='image/png', href='/images/icons/favicon-16.png', sizes='16x16')
      link(rel='icon', type='image/png', href='/images/icons/favicon-128.png', sizes='128x128')
    //
    // application meta tags
    //
    block metaApplication
      meta(name='application-name', content=' ')
      meta(name='msapplication-TileColor', content='#FFFFFF')
      // 144x144
      meta(name='msapplication-TileImage', content='/images/icons/ms-app-image-144.png')
      // 70x70
      meta(name='msapplication-square70x70logo', content='/images/icons/ms-app-image-70.png')
      // 150x150
      meta(name='msapplication-square150x150logo', content='/images/icons/ms-app-image-150.png')
      // 310x150
      meta(name='msapplication-wide310x150logo', content='/images/icons/ms-app-image-310-150.png')
      // 310x310
      meta(name='msapplication-square310x310logo', content='/images/icons/ms-app-image-310.png')
    //
    // sharing meta tags
    block twitterTags
      // Twitter
      meta(name='twitter:card', content='summary_large_image')
      meta(name='twitter:site', content='')
      meta(name='twitter:title', content='')
      meta(name='twitter:description', content='')
      meta(name='twitter:creator', content='')
      meta(name='twitter:image:src', content='/images/sharing/meta_image.png')
      meta(name='twitter:domain', content='')
      meta(name='twitter:app:name:iphone', content='')
      meta(name='twitter:app:name:ipad', content='')
      meta(name='twitter:app:name:googleplay', content='')
      meta(name='twitter:app:url:iphone', content='')
      meta(name='twitter:app:url:ipad', content='')
      meta(name='twitter:app:url:googleplay', content='')
      meta(name='twitter:app:id:iphone', content='')
      meta(name='twitter:app:id:ipad', content='')
      meta(name='twitter:app:id:googleplay', content='')
    block facebookTags
      // Facebook
      meta(property='og:title', content='')
      meta(property='og:description', content='')
      meta(property='og:type', content='product')
      meta(property='og:image', content='/images/sharing/meta_image.png')
    //
    // fonts
    //
    block fontFiles
      // Roboto Google Font
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:100,300,700')
    //
    // css
    //
    block externalCSS
      // NormalizeCSS
      link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
      // bootstrap 4
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
      // local load scripts (replace ^^ with these if you dont have a network connection)
      //
        link(rel='stylesheet', href='/fonts/fonts.css')
        link(rel='stylesheet', href='/css/vendor/normalize.min.css')
        link(rel='stylesheet', href='/css/vendor/bootstrap.min.css')
    block localCSS
      // local css
      // preloaded CSS to reduce FOUC
      link(rel='prefetch alternate stylesheet', href='/css/prefetch.css')
      // main page CSS
      link(rel='stylesheet', href='/css/main.css')
  body
    block bodyContent
      .toDelete EDIT ME OUT!
    block externalScripts
      script(src='/js/vendor/console-shim.js') // prevent console errors in old browsers
      // Modernizr
      script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js")
      // jQuery 2.2.4 (use whatever version you want)
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
      // Local Load Scripts
      //
        script(src='/js/vendor/modernizr-2.6.2.min.js')
        script(src='/js/vendor/jquery-2.2.4.min.js')
    block localScripts
      script(src='/js/main.js')
    // Suggestions
    // Google Analytics
    // Facebook Pixel Code
    // Amplitude OR other analytics platform
    // Clicky, Mixpanel, Hotjar, etc.
    // Mailchimp
    // Stripe
